/* Lato */
@font-face {
  font-family: "Lato";
  src: url("./assets/font/Lato/Lato-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}

/* Libre Baskerville */
@font-face {
  font-family: "Libre_Baskerville";
  src: url("./assets/font/Libre_Baskerville/LibreBaskerville-Bold.ttf")
    format("ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Libre_Baskerville";
  src: url("./assets/font/Libre_Baskerville/LibreBaskerville-Regular.ttf")
    format("ttf");
  font-style: normal;
  font-weight: 400;
}

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat/Montserrat-SemiBold.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat/Montserrat-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat/Montserrat-Light.ttf") format("ttf");
  font-style: normal;
  font-weight: 300;
}
